
body{
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f8f4e3;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  text-align: center;
}

h1{
  color: #e5446d;
}

h1::before,h1::after{
  content: "";
  display: inline-block;  /* blockかinline-blockに指定しないと、幅と高さの指定ができない */
  width: 50px;  /* 幅の指定 */
  height: 50px;  /* 高さの指定 */
  background-image:url("img/shortcake.png");
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}

p{
  color: #2a2b2a;
}

th{
  color: #706c61;
}

td{
  color: #2a2b2a;
  text-align: center;
}


button{
  background-color: #2a2b2a;
  color: #e5446d;
  border: none;
  border-radius: 5px;
  padding: 3px 20px;
}

input[type = number]{
  width: 70px;
}



table {
  margin-left: auto;
  margin-right: auto;
    margin-bottom: 20px;
  text-align: center;
  width: 78%;
}
 
th {
    height: 30px;               /* 高さ指定 */
}

ul{
  list-style: none;
}